<p><img style="width: 40px;" src="images/thch.png"/> You must supply the next THC-Hydra parameters:</p>
<div class="container">
        <form class="pure-form pure-form-aligned" >
                <fieldset>
                        <div class="pure-control-group">
                                <label for="remoteUser">Remote user*</label>
                                <input id="remoteUser" type="text" placeholder="username">
                        </div>

                        <div class="pure-control-group">
                                <label for="remoteIp">Remote IP*</label>
                                <input id="remoteIp" type="text" placeholder="100.10.103.14">
                        </div>

                        <div class="pure-control-group">
                                <label for="remotePort">Remote port</label>
                                <input id="remotePort" type="text" placeholder="1234">
                        </div>

                        <div class="pure-control-group">
                                <label for="protocol">Protocol*</label>
                                <input id="protocol" type="text" placeholder="telnet">
                        </div>

                        <div class="pure-control-group">
                                <label for="extraParam">Extra Parameter</label>
                                <input id="extraParam" type="text" placeholder="/w3af/bruteforce/form_login/dataReceptor.php:user=^USER^&pass=^PASS^:Bad login">
                        </div>

                        <div class="pure-control-group">
                                <label for="email">Your email*</label>
                                <input id="email" type="text" placeholder="example@gmail.com">
                        </div>

                        <p/>

                        <div style="text-align: center" class="pure-controls">
                                <button type="submit" class="pure-button pure-button-primary"><img src="images/attack_icon.png"/>Submit</button>
                        </div>

                        <p/>
                        <hr/>

                        <h6>Reminder: We just will have your email while attack is running. When attack is over, we send you a email notification with the attack result and then your email will be deleted from our database.</h6>
                </fieldset>
        </form>
</div>

