<p><img style="width: 40px;" src="images/jtr.png"/> You must supply the next John The Ripper parameters:</p>
<div class="container">
	<form class="pure-form pure-form-aligned" >
		<fieldset>
			<div class="pure-control-group">
           			<label for="hashToCrack">Hash to crack*</label>
            			<input id="hashToCrack" type="text" placeholder="e4d909c290d0fb1ca068ffaddf22cbd0">
        		</div>

			<div class="pure-control-group">
            			<label for="format">Hash format</label>
            			<input id="format" type="text" placeholder="MD5">
        		</div>

                        <div class="pure-control-group">
                                <label for="email">Your email*</label>
                                <input id="email" type="text" placeholder="example@gmail.com">
                        </div>
			
			<p/>

			<div style="text-align: center" class="pure-controls">
            			<button type="submit" class="pure-button pure-button-primary"><img src="images/attack_icon.png"/>Submit</button>
        		</div>

			<p/>
			<hr/>

			<h6>Reminder: We just will have your email while attack is running. When attack is over, we send you a email notification with the attack result and then your email will be deleted from our database.</h6>
		</fieldset>
	</form>
</div>
